body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
}

#createModal {
  background-color: #000;
}

html {
  font-family: Verdana, Geneva, sans-serif
}

h1 {
  font-size: 22px;
}
